<div id='failed_login'>
  <% form_for :user_session, :url => {:action => :create} do |f| %>
  
    <%= f.error_messages %>
    <h1>Please Login</h1>    
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit "Login" %><br />
    </p>
    <% end %>
    <p>
      <%= link_to "Forgot your password?", { :controller => 'user', :action => "forgot_passworld"}  %>
    </p>
  </div>